extends layout

block content
  h1= title
  p.lead
    | Bienvenue sur le superbe projet de web sémantique (web 3.0) de l'hexanôme H4201!
    br
    | Le code complet de ce site est disponible sur 
    a(title='Fork us on Github!', href='https://github.com/IF-JAJAGA/semantics/').
      https://github.com/IF-JAJAGA/semantics/
    |.
