.entity-container {
  background-color: #F2F2F2;
  width:100%;
  border-radius: 3px;
}
.entity {
  width: 100%;
  text-align: left;
  padding: 5px;
  margin-bottom: 10px;
}
.entity:hover {
  background-color:white;
  cursor: pointer;
}
.entity-content {
  width: 75%;
}
.entity-img {
  width: 25%;
}
.entity-img img {
  display:block;
  max-height: 100px;
  height: 100%;
}
